<div class="main">
  Step 1 Select Login
  <form>
    Login ID
    <select name="login_id">
      <% @all_logins.each do |login| %>
        <option value="<%= login['id'] %>"><%= login['id'] %></option>
      <% end %>

    </select>
    <br>
    <input type="submit" value="Show Accounts">
  </form>

  <br>------------<br>
  <form>
    <%if(@all_accounts) %>
      Step 2 Select Account<br>
      <select name="account_id">
        <%
          @all_accounts.each do |account| %>
          <option value="<%= account['id'] %>"><%= account['name'] %></option>
        <% end %>
      </select>
      <br>
      From ID(optional)<br>
      <input type="text" name="from_id"  value="0"><br>
      <input type="submit" value="Show Transactions">
      </form>

    <% end %>

    <div class="result">
      <br>
      <%if(@show_result) %>
        <%= @show_result %>
      <% end %>
    </div>
    </div>
