<!DOCTYPE html>
<html>
<head>
  <title>SaltEdge</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="sidenav">
  <a href="show_main">Main Page</a>
  <a href="create_user">Create user with customer</a>
  <a href="create_token">Create token</a>
  <a href="create_login">Create login</a>
  <a href="refresh_login">Refresh login</a>
  <a href="reconnect_login">Reconnect login</a>
  <a href="destroy_login">Destroy login</a>
  <a href="show_login">Show login</a>
  <a href="show_accounts">Show accounts</a>
  <a href="show_posted_transactions">Show posted transactions</a>
  <a href="show_pending_transactions">Show pending transactions</a>
  <a href="show_logs">Show logs</a>
</div>
<%= yield %>
</body>
</html>
